In [2]:
%matplotlib inline
import pandas as pd

In [3]:
titles = pd.DataFrame.from_csv('D:/Analytics Lab/Class Work/Day 7/data/titles.csv', index_col=None)
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [4]:
cast = pd.DataFrame.from_csv('D:/Analytics Lab/Class Work/Day 7/data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [4]:
titles.title.value_counts()
import numpy as np
titles.title.nunique()

196344

### What are the earliest two films listed in the titles dataframe?

In [5]:
titles.sort_values('year')[:2]

                                                   title  year
90767                                         Miss Jerry  1894
10994  Reproduction of the Corbett and Fitzsimmons Fight  1897

### How many movies have the title "Hamlet"?

In [6]:
titles['flag']=titles.title.str.lower().str.contains('hamlet')
titles.flag.sum()

53

### How many movies are titled "North by Northwest"?

In [7]:
titles['flag_north']=titles.title.str.contains('North by Northwest')
titles.flag_north.sum()

1

### When was the first movie titled "Hamlet" made?

In [8]:
titles[titles.title.str.lower()=="hamlet"].sort_values('year')[:1]

         title  year  flag  flag_north
100923  Hamlet  1910  True       False

In [9]:
titles.sort_values('year')[titles.title=='Hamlet'][:1]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

         title  year  flag  flag_north
100923  Hamlet  1910  True       False

### List all of the "Treasure Island" movies from earliest to most recent.

In [10]:
titles[titles.title.str.lower()=="treasure island"].sort_values('year')

                  title  year   flag  flag_north
48904   Treasure Island  1918  False       False
108475  Treasure Island  1920  False       False
89471   Treasure Island  1934  False       False
52435   Treasure Island  1950  False       False
118309  Treasure Island  1972  False       False
144139  Treasure Island  1973  False       False
191845  Treasure Island  1985  False       False
50325   Treasure Island  1999  False       False

### How many movies were made in the year 1950?

In [14]:
len(titles[titles.year==1950].title)

1036

In [46]:
sum(titles.year//10*10==1950)######Sir method for the calculation of decade

12110

### How many movies were made in the year 1960?

In [15]:
len(titles[titles.year==1960].title)

1461

### How many movies were made from 1950 through 1959?

In [14]:
year=((titles.year>=1950)&(titles.year<1960)) 
len(titles[year])
#len(titles[(titles.year>=1950)& (titles.year<1960)])

12110

### In what years has a movie titled "Batman" been released?

In [18]:
titles[titles.title.str.lower()=="batman"].year

16656    1989
56309    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [36]:
len(cast[cast.title=="Inception"].type)

72

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [49]:
movies_inception=cast.title.str.lower()=="inception"
movies_inception
len(cast[movies_inception][cast.n.isnull()])
# n_value=cast.n.isnull()
# n_value
# len(cast[cast.title.str.lower()=="inception"].n.isnull())

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

21

### But how many roles in the movie "Inception" did receive an "n" value?

In [51]:
len(cast[movies_inception][cast.n.notnull()])

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

51

In [ ]:
#####Ignoring n values##################

In [57]:
cast_notnull=cast.n.dropna()
cast_notnull

0          22.0
2          27.0
3           3.0
8           8.0
9           9.0
13         16.0
14         16.0
15         25.0
16          9.0
17         10.0
18         61.0
24         12.0
25         25.0
26         83.0
27         80.0
28         20.0
30         21.0
31         18.0
32         51.0
36         47.0
37         22.0
38         21.0
39         35.0
40          6.0
41          9.0
42         18.0
43         10.0
45          4.0
46          4.0
48          5.0
           ...
3311590     2.0
3311591     2.0
3311593    22.0
3311594    13.0
3311595     7.0
3311596     8.0
3311597     2.0
3311598     2.0
3311599     8.0
3311600    40.0
3311601     4.0
3311602     5.0
3311603     7.0
3311604     2.0
3311607    19.0
3311609     5.0
3311611     5.0
3311612     3.0
3311614     3.0
3311630    18.0
3311632    10.0
3311634    46.0
3311635    25.0
3311636    15.0
3311637    13.0
3311641    21.0
3311642    24.0
3311643    24.0
3311644    26.0
3311645    17.0
Name: n, Length: 2069575, dtype: float64

In [59]:
cast[cast.title.str.lower()=="north by northwest"].n.dropna().sort_values()

773496      1.0
3084579     2.0
1292652     3.0
2776446     4.0
315343      5.0
2685171     6.0
1504777     7.0
1130557     8.0
2167754     9.0
1607029    10.0
590702     11.0
2033529    12.0
411247     13.0
1339004    14.0
180985     15.0
1228229    16.0
Name: n, dtype: float64

In [63]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n'], dtype='object')

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [71]:
cast[(cast.title.str.lower()=="sleuth")&(cast.year==1972)].sort_values('n')

,title,year,name,type,character,n
1513570,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
288502,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
330750,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1299944,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2406762,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1285278,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [72]:
cast[(cast.title.str.lower()=="sleuth")&(cast.year==2007)].sort_values('n')

          title  year                 name     type          character    n
288503   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1147041  Sleuth  2007             Jude Law    actor               Milo  2.0
1602268  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
228757   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
330751   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2406761  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
2958823  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [74]:
cast.head(n=2)

                            title  year       name   type character     n
0                 Suuri illusioni  1985     Homo $  actor    Guests  22.0
1  Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN

In [76]:
titles.head(n=2)

            title  year   flag  flag_north
0  Orlando Vargas  2005  False       False
1        Niu-Peng  1989  False       False

In [168]:
cast[(cast.title.str.lower()=="hamlet")&(cast.year==1921)].character.value_counts().sum()

9

In [101]:
#cast['Silent']=cast.name.str.contains("silent")
cast[(cast.title.str.lower()=="hamlet")&(cast.Silent==True)].type.value_counts()

Series([], Name: type, dtype: int64)

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [173]:

cast[(cast.title.str.lower()=="hamlet")&(cast.year==1996)].character.value_counts().sum()

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [98]:
cast

,title,year,name,type,character,n,Silent
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0,False
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN,False
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0,False
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0,False
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN,False
5,Townbiz,2010,Too $hort,actor,Himself,NaN,False
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN,False
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN,False
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0,False
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0,False
10,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN,False
11,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN,False
12,Dysfunktion,2015,Kirlew 'bliss' Vilbon,actor,Bliss,NaN,False
13,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0,False
14,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0,False
15,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0,False
16,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0,False
17,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0,False
18,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0,False
19,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN,False
20,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN,False
21,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN,False
22,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN,False
23,The LXD: The Secrets of the Ra,2011,Dondraico 'Draico' Johnson,actor,Umbra,NaN,False
24,Pelotazo nacional,1993,F?lix 'El Gato',actor,Rebolledo,12.0,False
25,Los tarantos,1963,'El Guisa',actor,Bailaor,25.0,False
26,De la calle,2001,V?ctor 'El Payaso',actor,Chavo Banda Galerias,83.0,False
27,De la calle,2001,Luis 'El Plojo',actor,Froil?n plaza del estudiante,80.0,False
28,Los tarantos,1963,'El Viti',actor,Cantaor,20.0,False
29,They Want Dick Dickster,2015,Zhavier' (II) 'Fox,actor,Dr. Shrinkalotsky,NaN,False
...,...,...,...,...,...,...,...
3311617,Dondurmam gaymak,2006,T?nay ?rper,actress,Seller,NaN,False
3311618,Halam geldi,2013,Nesrin ?stkanat,actress,Melek,NaN,False
3311619,Musallat,2007,Serap ?st?n,actress,Zeynep,NaN,False
3311620,Acliga Doymak,2012,Zeyno ?st?nisik,actress,Selma,NaN,False
3311621,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN,False
3311622,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN,False
3311623,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN,False
3311624,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN,False
3311625,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN,False
3311626,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN,False
3311627,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN,False
3311628,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN,False
3311629,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN,False
3311630,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0,False
3311631,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN,False
3311632,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0,False
3311633,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN,False
3311634,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0,False
3311635,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0,False
3311636,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0,False
3311637,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0,False
3311638,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN,False
3311639,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN,False
3311640,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN,False
3311641,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0,False
3311642,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0,False
3311643,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0,False
3311644,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0,False
3311645,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0,False
3311646,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN,False

In [166]:
#cast[cast.title.str.lower()=="credits"]
cast[(cast.character.str.lower()=="hamlet")].character.value_counts()

Hamlet    81
Name: character, dtype: int64

### How many people have played an "Ophelia"?

In [109]:
cast[cast.character=="Ophelia"].character.value_counts()

Ophelia    96
Name: character, dtype: int64

### How many people have played a role called "The Dude"?

In [14]:
#All The Dude
cast[cast.character.str.contains("The Dude")].name.count()

23

In [115]:
#Only The Dude
cast[cast.character=="The Dude"].character.value_counts()

The Dude    16
Name: character, dtype: int64

### How many people have played a role called "The Stranger"?

In [13]:
#All The Stranger
cast[cast.character.str.contains("The Stranger")].name.count()

209

In [117]:
#Only The Stranger
cast[cast.character=="The Stranger"].character.value_counts()

The Stranger    192
Name: character, dtype: int64

### How many roles has Sidney Poitier played throughout his career?

In [121]:
cast.columns

Index(['title', 'year', 'name', 'type', 'character', 'n', 'Silent'], dtype='object')

In [122]:
cast[cast.name.str.lower()=="sidney poitier"].character.value_counts()

Virgil Tibbs                          3
Gregory W. Miller                     1
Mark Thackeray                        1
Alan Newell                           1
Steve Jackson                         1
Roy Parmenter                         1
Kimani Wa Karanja                     1
FBI Deputy Director Carter Preston    1
Night Club Extra                      1
Jason Higgs                           1
Eddie Cook                            1
Porgy                                 1
Ben Munceford                         1
Gordon Ralfe                          1
Reverend Msimangu                     1
Shack Twala                           1
Toller                                1
Robertson                             1
Obam                                  1
John Prentice                         1
Clyde Williams                        1
Sgt. Eddie Towler                     1
Noah Cullen                           1
Gates Watson                          1
Buck                                  1
Warren Stantin                        1
Donald Crease                         1
Aly Mansuh                            1
Jack Parks                            1
John Kane                             1
Dr. Matt Younger                      1
Walter Lee Younger                    1
Tommy Tyler                           1
Simon of Cyrene                       1
Rau-Ru                                1
Marcus                                1
Inman Jackson                         1
Dr. Luther Brooks                     1
Doctor                                1
Homer Smith                           1
Manny Durrell                         1
Name: character, dtype: int64

In [124]:
#Sum of all roles he played
cast[cast.name.str.lower()=="sidney poitier"].character.value_counts().sum()

43

### How many roles has Judi Dench played?

In [125]:
cast[cast.name.str.lower()=="judi dench"].character.value_counts()

M                                7
Evelyn Greenslade                2
Philomena                        1
Aereon                           1
Miss Lilly                       1
Eleanor Lavish, a novelist       1
Queen Elizabeth                  1
Mona Carvell                     1
Dame Sybil Thorndike             1
Mrs. Laura Henderson             1
Wife                             1
Bag Lady                         1
Sally                            1
Iris Murdoch                     1
Marcia Pilborough                1
Nora Doel                        1
Shakespeare's Sonnets read by    1
Narrator                         1
Katherine                        1
Laura Davidson                   1
Mistress Nell Quickly            1
Mrs. Caloway                     1
Society Lady                     1
Mrs. Beaver                      1
Barbara Covett                   1
Lady Catherine de Bourg          1
Mary                             1
Miss Humphries                   1
Mrs. Fairfax                     1
Titania                          1
Joanne                           1
Hecuba                           1
Miss Avocet                      1
Lilli                            1
Armande Voizin                   1
Queen Victoria                   1
Arabella                         1
Lady Bracknell                   1
The Narrator                     1
Margaret                         1
Agnis Hamm                       1
The Abbess of St. Ursula         1
Annie Hoover                     1
Ursula                           1
Name: character, dtype: int64

In [126]:
cast[cast.name.str.lower()=="judi dench"].character.value_counts().sum()

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [147]:
cast_1940=cast.year//10*10==1940
#cast.character.value_counts()
cast[(cast.name.str.lower()=="cary grant")&(cast.n==2)&(cast_1940)]

                   title  year        name   type    character    n  Silent
773493  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0   False
773503    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0   False

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [150]:
cast_1940=cast.year//10*10==1940
#cast.character.value_counts()
cast[(cast.name.str.lower()=="cary grant")&(cast.n.dropna()!=2)&(cast_1940)]

,title,year,name,type,character,n,Silent
773458,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0,False
773466,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0,False
773470,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0,False
773475,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0,False
773479,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0,False
773490,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0,False
773491,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0,False
773492,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0,False
773494,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0,False
773495,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0,False
773497,Notorious,1946,Cary Grant,actor,Devlin,1.0,False
773499,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0,False
773500,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0,False
773508,Suspicion,1941,Cary Grant,actor,Johnnie,1.0,False
773514,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1.0,False
773515,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0,False
773518,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0,False
773520,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0,False
773522,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0,False

### How many roles were available for actors in the 1950s?

In [157]:
cast_1950=cast.year//10*10==1950
#cast.character.value_counts()
cast[(cast.type=="actor")&(cast_1950)].character.value_counts().sum()

147951

### How many roles were available for actresses in the 1950s?

In [158]:
cast[(cast.type=="actress")&(cast_1950)].character.value_counts().sum()

53969

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [159]:
cast[(cast.n==1)&(cast.year<=1980)].character.value_counts().sum()

61444

### How many non-leading roles were available through from the beginning of film history through 1980?

In [160]:
cast[(cast.n==2)&(cast.year<=1980)].character.value_counts().sum()

58100

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [161]:
cast[(cast.n.isnull())&(cast.year<=1980)].character.value_counts().sum()

415167